<!-- lessons suggest modal-->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <!-- modal-header -->
            <div class="modal-header">
                <h5 class="modal-title" id="detailsTitle">Detalles de la lección propuesta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /modal-header -->

            <!-- modal-body -->
            <div class="modal-body">

                <div class="row">
                    <label class="col-3">
                        <strong>Título:</strong>
                    </label>

                    <div class="col-9">
                        <p>{{lesson.title}}</p>
                    </div>
                </div>

                <div *ngIf="parent == 'experiences'" class="row">
                    <label class="col-3">
                        <strong>Áreas de conocimiento:</strong>
                    </label>
                    <div class="col-9">
                        <div *ngIf="lesson.knowledge_area.length > 0" style="display: flex; flex-wrap: wrap;">
                            <small *ngFor="let area of lesson.knowledge_area"
                                class="badge badge-info mr-1 mb-1 text-truncate"
                                title="{{area.name}}">{{area.name}}</small>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <label class="col-3">
                        <strong>Resumen:</strong>
                    </label>

                    <div class="col-9">
                        <p *ngFor="let text of lesson.resume.split('\n')" class="text-break">
                            {{text}}
                        </p>
                    </div>
                </div>

                <div *ngIf="parent == 'proposed-lesson'" class="row">
                    <label class="col-3">
                        <strong>Justificación:</strong>
                    </label>

                    <div class="col-9">
                        <p *ngFor="let text of lesson.justification.split('\n')" class="text-break">
                            {{text}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <label class="col-3">
                        <strong>Referencias:</strong>
                    </label>

                    <div class="col-9">
                        <p *ngFor="let text of lesson.references.split('\n')" class="text-break">
                            {{text}}
                        </p>
                    </div>
                </div>

                <div *ngIf="parent == 'experiences'" class="row">
                    <label class="col-3">
                        <strong>Nivel de desarrollo:</strong>
                    </label>

                    <div class="col-9">
                        <p>{{level[lesson.development_level]}}</p>
                    </div>
                </div>

                <div *ngIf="parent == 'experiences'" class="row">
                    <label class="col-3">
                        <strong>Tipo:</strong>
                    </label>

                    <div class="col-9">
                        <p>{{type[lesson.type]}}</p>
                    </div>
                </div>


                <div class="row">
                    <label class="col-3">
                        <strong *ngIf="parent == 'proposed-lesson'">Sugerido por:</strong>
                        <strong *ngIf="parent == 'experiences'">Experiencia enviada por:</strong>
                    </label>

                    <div class="col-auto pr-0">
                        <a class="text-primary">
                            <div class="flex-shrink-0 rounded-circle border-1 overflow-hidden"
                                style="width: 40px; height:40px; background-color: aqua">
                                <a [routerLink]="['/perfil', lesson.author._id]" data-dismiss="modal">

                                    <img *ngIf="!lesson.author.picture" class="img-fluid"
                                        src="assets/images/user-default.png">
                                    <img *ngIf="lesson.author.picture" class="img-fluid"
                                        src="{{this.url+'get-image-user/'+ lesson.author.picture}}">
                                </a>
                            </div>

                        </a>
                    </div>
                    <div class="col rounded px-2">
                        <h6 class="mb-1">
                            <a [routerLink]="['/perfil', lesson.author._id]" class="text-primary" data-dismiss="modal">
                                <strong>
                                    {{lesson.author.name}} {{lesson.author.surname}}
                                </strong>
                            </a>
                            <br>
                            <small
                                class=" text-muted">{{ (lesson.created_at | amFromUnix) | amLocale:'es' | amDateFormat:'LLL' }}</small>
                        </h6>

                    </div>
                </div>

            </div>
            <!-- /modal-body -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
            <!-- /modal-footer -->

        </div>


    </div>
</div>
<!-- /lessons suggest modal-->