<!-- Recuperar contraseña -->
<section id="resetPass" class="bg-white">
    <div class="container px-0 py-5 bg-light">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card ">
                    <div class="card-body text-center">
                        <h3 class="card-title ">
                            {{title}}
                        </h3>

                        <section class="px-4 py-3 ">
                            <div *ngIf="status === 'error'; successMessage"
                                class="alert alert-danger fade show text-center" role="alert">
                                <i class="fas fa-times-circle icon-message mr-2"></i>
                                Hubo un error tratanto de cambiar la contraseña. Verifica tu correo.

                            </div>

                            <div *ngIf="status === 'success'; successMessage"
                                class="alert alert-success fade show text-center" role="alert">
                                <i class="fas fa-check-circle icon-message mr-2"></i>
                                Se cambio correctamente la contraseña. Por favor revisa tu correo electrónico.
                            </div>
                            <p class="card-text">Te enviaremos un enlace a tu correo para que puedas cambiar la
                                contraseña
                            </p>
                        </section>

                        <form class="px-4 py-3 text-left" [formGroup]="recoverPassForm" (ngSubmit)="onSubmit()">



                            <div class="form-group">
                                <input type="email" class="form-control" id="FormEmail"
                                    placeholder="Tu correo electrónico" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">El campo correo electrónico es obligatorio.
                                    </div>
                                    <div *ngIf="f.email.errors.email">El correo electrónico debe ser una dirección
                                        email válida.</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block btn-lg mb-2">
                                Cambiar contraseña
                            </button>
                            <a class="card-link" [routerLink]="['/login']">← Regresar a inicio de sesión</a>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text">¿Aún no tienes cuenta en RedDinámica?</p>
                        <a class="dropdown-item py-2" [routerLink]="['/registro']">Registrate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Recuperar contraseña  -->