<!-- Lesson/:id -->
<div class="card">
    <div class="card-header p-1">
        <button class="btn float-left" title="Detalles lección" (click)="setSelectedOption('details')">
            <i class="fas fa-home text-primary icon-message"></i>
        </button>

        <button class="btn border-left" title="Recursos" (click)="setSelectedOption('resources')">
            <i class="fas fa-boxes icon-message text-primary"></i>
        </button>


        <button class="btn border-left" title="Grupo de desarrollo" (click)="setSelectedOption('group')">
            <i class="fas fa-users icon-message text-primary"></i>
        </button>



        <!-- Example split danger button -->
        <div class="btn-group text-primary float-right">

            <button *ngIf="showEdit()" class="btn" title="Editar" (click)="setSelectedOption('edit')">
                <i class="fas fa-edit icon-message text-primary"></i>
            </button>            

            <!-- <button class="btn border-left" title="Actividad de la lecciòn"
                (click)="setSelectedOption('activity')">
                <i class="fas fa-clock icon-message text-primary"></i>
            </button> -->

            <button *ngIf="showCommentsOrConversations()    " class="btn border-left" title="Conversación"
                (click)="setSelectedOption('conversation')">
                <i class="fas fa-comment-dots icon-message text-primary"></i>
            </button>

            <!-- <button *ngIf="lesson.state == 'test' && isInTheDevelopmentGroup()" class="btn border-left" title="Resultados de pruebas"
                (click)="setSelectedOption('tests')">
                <i class="fas fa-clipboard-check icon-message text-primary"></i>
            </button> -->

            <button *ngIf="showCommentsOrConversations()" class="btn border-left" title="Comentarios del facilitador"
                (click)="setSelectedOption('review')">
                <i class="fas fa-clipboard-list icon-message text-primary"></i>
            </button>
            
            
            <button *ngIf="lesson.father_lesson" class="btn btn-primary" title="Versión anterior"
            [routerLink]="['/', parentUrl ,'leccion', lesson.father_lesson]">
                <i class="fas fa-angle-left icon-message"></i>
            </button>
            
            <span *ngIf="lesson.version" class="btn btn-primary">
                <span>V. {{lesson.version.toFixed(1)}}</span>
            </span>
            
            <button *ngIf="lesson.son_lesson && (lesson.son_lesson.visible || parentUrl == 'admin')" class="btn btn-primary" title="Versión siguiente"
            [routerLink]="['/', parentUrl ,'leccion', lesson.son_lesson._id]">
                <i class="fas fa-angle-right icon-message"></i>
            </button>

            <button *ngIf="(!isInTheDevelopmentGroup() || parentUrl == 'admin') && lesson.state == 'completed'"                           
             class="btn border-left ml-2" title="Calificar lección"
                (click)="setSelectedOption('rating')">
                <div class="vl">
                    <i class="fas fa-star icon-message text-warning"></i>                    
                    <span *ngIf="lesson.score != undefined && lesson.score > 0"> {{lesson.score.toFixed(2)}}</span>
                </div>
            </button>

        </div>
    </div>

    <lesson-details *ngIf="lesson && selectedOption == 'details'" [lesson]="lesson">
    </lesson-details>

    <!-- <activity *ngIf="selectedOption == 'activity'" [lesson]="lesson">
    </activity> -->

    <edit *ngIf="lesson && selectedOption == 'edit'" [lesson]="lesson" (edited)="setNeedReload($event)">
    </edit>

    <group *ngIf="lesson && selectedOption == 'group'" [lesson]="lesson">
    </group>

    <rating *ngIf="lesson &&  selectedOption == 'rating'" [lesson]="lesson">
    </rating>

    <conversation *ngIf="lesson &&  selectedOption == 'conversation'" [lesson]="lesson">
    </conversation>

    <review *ngIf="lesson && selectedOption == 'review' && lesson.expert" [lesson]="lesson">
    </review>

    <resources *ngIf="lesson && selectedOption == 'resources'" [lesson]="lesson" (added)="setNeedReload($event)">
    </resources>

</div>
<!-- /Lesson/:id -->