<!-- register  -->
<section id="register" class="bg-white">
    <div class="container px-0 py-3 py-sm-4 bg-light">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card ">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            {{title}}
                        </h2>

                        <div *ngIf="message" class="mx-4 alert alert-danger alert-dismissible fade show text-center"
                            role="alert">
                            {{message}}
                            <a [routerLink]="['/login']" class="alert-link">
                                Inicia sesión
                            </a>
                        </div>

                        <form class="px-4 py-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nombres*</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nombres"
                                        formControlName="name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">
                                            El campo nombres es obligatorio.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="surname">Apellidos*</label>
                                    <input type="text" class="form-control" id="surname" placeholder="Apellidos"
                                        formControlName="surname" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.surname.errors }">
                                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                                        <div *ngIf="f.surname.errors.required">
                                            El campo apellidos es obligatorio.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label for="email">Correo electrónico*</label>
                                    <input type="email" class="form-control" id="email" placeholder="Correo eletrónico"
                                        formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">El campo correo electrónico es obligatorio.
                                        </div>
                                        <div *ngIf="f.email.errors.email">El correo electrónico debe ser una dirección
                                            email válida.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="password">Contraseña*</label>
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Ingrese su contraseña" formControlName="password"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">
                                            El campo contraseña es obligatorio.
                                        </div>
                                        <div *ngIf="f.password.errors.minlength">
                                            La contraseña debe tener mínimo seis caracteres.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group col-md-6">
                                    <label for="confirmPassword">Confirmar contraseña*</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Repita su contraseña" formControlName="confirmPassword"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">
                                            El campo contraseña es obligatorio.
                                        </div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">
                                            Las contraseñas no coinciden.
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group col-12">
                                    <label for="profession">Profesión*</label>
                                    <ng-select [items]="items.profession" bindLabel="name" [addTag]="true"
                                        addTagText="Agregar profesión" formControlName="profession"
                                        placeholder="Profesión"
                                        [ngClass]="{ 'is-invalid': submitted && f.profession.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && f.profession.errors">
                                        <div *ngIf="f.profession.errors.required" class="invalid-feedback-select">
                                            El campo profesión es obligatorio.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label for="institution">Institución*</label>
                                    <ng-select [items]="items.institution" bindLabel="name" [addTag]="true"
                                        addTagText="Agregar institución" formControlName="institution"
                                        placeholder="Institución"
                                        [ngClass]="{ 'is-invalid': submitted && f.institution.errors }">
                                    </ng-select>
                                    <div *ngIf="submitted && f.institution.errors">
                                        <div *ngIf="f.institution.errors.required" class="invalid-feedback-select">
                                            El campo institución es obligatorio.
                                        </div>
                                    </div>
                                    <small *ngIf="!submitted" id="institutionHelp" class="form-text text-muted">
                                        Institución en la que desarrolla sus labores profesionales.
                                    </small>
                                </div>



                            </div>

                            <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                                Tipos de usuarios RedDinámica
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Facilitador</th>
                                                        <td>
                                                            Eres especialista en la dinámica de sistemas, te apasiona el
                                                            tema y los aportes que puede ofrecer en el campo educativo,
                                                            además,
                                                            te gustaría trabajar en conjunto con docentes en la
                                                            construcción y mejora de materiales académicos, aportando
                                                            con la tu asesoría y guía en el proceso de desarrollo de los
                                                            mismo, entonces registrate como facilitador.

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Docente</th>
                                                        <td>
                                                            El perfil docente es para aquellos usuarios que se
                                                            encuentran actualmente ejerciendo esta profesión en una
                                                            institución educativa y están interesados en
                                                            incluir la dinámica de sistemas en sus clases, como también,
                                                            en participar
                                                            en la construcción de lecciones y materiales para clases de
                                                            las distintas
                                                            áreas de conocimiento en las que se desempeñan.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Estudiante</th>
                                                        <td>
                                                            Si actualmente estas cursando estudios de pregrado y te
                                                            encuentras en el proceso de aprendizaje de los conceptos de
                                                            la dinámica de sistemas, puedes acceder al sitio,
                                                            participar, ver las lecciones de clase creadas y descargar
                                                            los recursos del sitio con el perfil de estudiante.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Invitado</th>
                                                        <td>No encajas en ninguno de los perfiles anteriores, pero estas
                                                            interesado en conocer y aprender sobre dinámica de sistemas,
                                                            registrate como invitado. Con este perfil puedes
                                                            acceder al sitio, ver las lecciones de clase creadas y
                                                            descargar los recursos del sitio.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cerrar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="category">
                                    Perfil de usuario*
                                    <a data-toggle="modal" data-target="#help" style="cursor: pointer" title="Ayuda">
                                        <i class="fas fa-question-circle"></i>
                                    </a>
                                </label>

                                <select size=4 formControlName="category" class="form-control" id="category"
                                    [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                    <option value="expert">Facilitador</option>
                                    <option value="teacher">Docente</option>
                                    <option value="student">Estudiante</option>
                                    <option value="guest">Invitado</option>
                                </select>
                                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                                    <div *ngIf="f.category.errors.required">
                                        Debes seleccionar una de las categorias.
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="f.category.value=='expert' || f.category.value==='teacher'" class="form-group">
                                <label for="experience">Perfil profesional*</label>
                                <textarea class="form-control" id="experience" rows="3"
                                    placeholder="Describe tu perfil profesional" formControlName="experience">
                                    </textarea>
                                <small id="experienceHelp" class="form-text text-muted">
                                    Por favor describa brevemente su perfil profesional y su experiencia como
                                    <span *ngIf="f.category.value=='expert'; else teacher">
                                        profesional en dinámica de sistemas.
                                    </span>
                                    <ng-template #teacher>
                                        <span>docente.</span>
                                    </ng-template>

                                </small>

                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="tyc"
                                    [ngClass]="{ 'is-invalid': submitted && f.tyc.errors }" formControlName="tyc" required>
                                <label class="form-check-label  text-justify" for="tyc">
                                    <small class="text-muted">Aceptar términos y condiciones de
                                        RedDinámica.
                                        Para conocer los términos y condiciones haz click.
                                        <a href="{{this.url + 'get-resource/' + tyc_file}}" target="_blank">AQUÍ</a>
                                    </small>
                                </label>
                                <div *ngIf="submitted && f.tyc.errors" class="invalid-feedback">
                                    <div *ngIf="f.tyc.errors.required">
                                        Debes aceptar los términos y condiciones para registrarte en RedDinámica.
                                    </div>

                                </div>
                            </div>




                            <div *ngIf="loading" class="card-body">
                                <div class="text-muted text-center">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-block btn-lg" (click)="loading = true">
                                Crear mi cuenta
                            </button>

                        </form>
                    </div>

                    <div class="card-footer text-center">
                        <p class="card-text">¿Ya tienes una cuenta?</p>
                        <a class="dropdown-item py-2" [routerLink]="['/login']">Inicia sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /register  -->