<!-- footer -->
<footer id="footer" class="pt-0 pb-4 bg-secondary">
    <hr class="mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg text-left text-light">
                <a class="text-light" href="http://cormoran.uis.edu.co/eisi/"><strong>Escuela de ingeniería de sistemas e informática</strong></a>
                <p>Carrera 27 calle 9 UIS. Bucaramanga - Colombia </p>
            </div>
            <div class="col-12 col-lg text-right text-light">
                <p><strong>Administrador</strong><br>
                reddinamica@simon.uis.edu.co</p>
            </div>
        </div>
    </div>
</footer>

<!-- /footer -->
