<!-- footer -->
<footer id="footer" class="pt-0 pb-4 bg-secondary">
    <hr class="mt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg text-left text-light">
                <a href="https://www.uis.edu.co/" target="_blank">
                    <img src="assets/images/logouis.png" class="d-block  mb-2" alt="UIS" style="height: 60px">
                </a>

                <a class="text-light" href="http://cormoran.uis.edu.co/eisi/"><strong>Escuela de ingeniería de sistemas
                        e informática</strong></a>
                <p>Carrera 27 calle 9 UIS. Bucaramanga - Colombia </p>
            </div>
            <div class="col-12 col-lg text-right text-light">
                <a href="http://simon.uis.edu.co/" target="_blank">
                    <img src="assets/images/simonlogo.png" class="text-right mb-2" alt="SIMON" style="height: 60px">
                </a>
                <p><strong>Administrador</strong><br>
                    reddinamica.simon@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

<!-- /footer -->