<!-- footer -->
<footer id="footer" class="pt-0 pb-4 bg-secondary">
    <hr class="mt-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Preguntas frecuentes</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Contactanos</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Prensa</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Conferencias</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Términos y condiciones</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Privacidad</a>
            </div>
            <div class="col-12 col-lg">
                <a class="text-light" href="#">Estudiantes</a>
            </div>
        </div>
    </div>
</footer>

<!-- /footer -->
