<!-- Experiences -->
<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder float-left">{{title}}</h3>
    </div>


    <div *ngIf="loading" class="card-body">
        <div class="text-muted text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div *ngIf="lessons.length == 0 && !loading" class="card-body">
        <h4 class="text-muted">
            Parece que todo el trabajo aquí, ya fue realizado.
            <i class="fas fa-laugh icon-message"></i>
        </h4>
    </div>

    <div *ngIf="lessons.length > 0" class="card-body">
        <!-- experience-lesson items -->
        <div *ngFor="let lesson of lessons, let i=index">
            <div class="card">
                <div class="card-body">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col">

                                        <div class="text-center p-2 rounded-lg border border-ligth bg-warning"
                                            style="width: 80px; height: 80px; overflow:hidden">
                                            <i class="text-white fas fa-flask" style="font-size:62px"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-7">
                                <h5 class="my-0 text-truncate">
                                    <strong>{{lesson.title}}</strong> <br>
                                </h5>
                                <div *ngIf="lesson.knowledge_area.length > 0" style="display: flex; flex-wrap: wrap;">
                                    <small *ngFor="let area of lesson.knowledge_area"
                                        class="badge badge-info mr-1 mb-1 text-truncate"
                                        title="{{area.name}}">{{area.name}}</small>
                                       
                                </div>

                                <p *ngFor="let text of lesson.resume.split('\n')" class="text-break">
                                    {{text}}
                                </p>

                                <p><strong>Enviada por:</strong></p>

                                <div class="row">
                                    <div class="col-auto pr-0">
                                        <a class="text-primary">
                                            <div class="flex-shrink-0 rounded-circle border-1 overflow-hidden"
                                                style="width: 40px; height:40px; background-color: aqua">
                                                <a [routerLink]="['/perfil', lesson.author._id]">

                                                    <img *ngIf="!lesson.author.picture" class="img-fluid"
                                                        src="assets/images/user-default.png">
                                                    <img *ngIf="lesson.author.picture" class="img-fluid"
                                                        src="{{this.url+'get-image-user/'+ lesson.author.picture}}">
                                                </a>
                                            </div>

                                        </a>
                                    </div>
                                    <div class="col rounded px-2">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/perfil', lesson.author._id]" class="text-primary">
                                                <strong>
                                                    {{lesson.author.name}} {{lesson.author.surname}}
                                                </strong>
                                            </a>
                                            <br>
                                            <small
                                                class=" text-muted">{{ (lesson.created_at | amFromUnix) | amLocale:'es' | amDateFormat:'LLL' }}</small>
                                        </h6>

                                    </div>
                                </div>

                            </div>

                            <div class="col-auto">

                                <div class="row">
                                    <div class="col">

                                        <button class="btn btn-info mr-2" title="Ver detalles" data-toggle="modal"
                                            data-target="#details" (click)="setDetailLesson(lesson)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <button class="btn btn-success mr-2" title="Avalar lección"
                                            (click)="editLesson(lesson)">
                                            <i class="fas fa-check-square"></i>
                                        </button>
                                        <button class="btn btn-danger mr-2" title="Eliminar lección" data-toggle="modal"
                                            data-target="#delete" (click)="setDeleteLesson(lesson._id)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /experience-lesson items -->

        <!-- Navigation -->
        <nav class="mt-3" aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li *ngIf="page > 1" class="page-item">
                    <a class="page-link bg-primary" [routerLink]="['/admin/experiencias', prevPage]">Anterior</a>
                </li>
                <li *ngIf="page < pages && page != pages" class="page-item">
                    <a class="page-link bg-info" [routerLink]="['/admin/experiencias', nextPage]">Siguiente</a>
                </li>
            </ul>
        </nav>
        <!-- /Navigation -->


    </div>

</div>
<!-- /Experiences -->

<details-lesson *ngIf="detailsLessonItem" [parent]="'experiences'" [lesson]="detailsLessonItem"></details-lesson>

<delete-lesson *ngIf="deleteLessonId" [parent]="'experiences'" [lessonId]="deleteLessonId"
    (deleted)="setNeedReload($event)"></delete-lesson>