<!-- Resources suggest modal-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="modal-content" enctype="multipart/form-data">
            <!-- modal-header -->
            <div class="modal-header">
                <h5 class="modal-title" id="editTitle">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="restartValues()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /modal-header -->

            <!-- modal-body -->

            <div class="modal-body">
                <div *ngIf="status === 'error'; successMessage" class="alert alert-danger fade show text-center"
                    role="alert">
                    <i class="fas fa-times-circle icon-message mr-2"></i>
                    {{errorMsg}}
                </div>

                <div *ngIf="status === 'success'; successMessage" class="alert alert-success fade show text-center"
                    role="alert">
                    <i class="fas fa-check-circle icon-message mr-2"></i>
                    {{successMsg}}
                </div>

                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">
                        <strong>Nombre*</strong>
                    </label>

                    <div class="col-9">
                        <input type="text" class="form-control" id="name" autocomplete="off" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">
                                El campo nombre es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-3 col-form-label">
                        <strong>Descripción*</strong>
                    </label>

                    <div class="col-9">

                        <textarea class="form-control" id="description" rows="3" formControlName="description"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors}">
                                    </textarea>


                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">
                                El campo descripción es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="type" class="col-3 col-form-label">
                        <strong>Tipo*</strong>
                    </label>

                    <div class="col-9">
                        <select formControlName="type" class="form-control" id="type"
                            [ngClass]="{'is-invalid': submitted && f.type.errors}" (input)="setDisabled()">
                            <option value="document">Documento</option>
                            <option value="link">Enlace</option>
                            <option value="video">Video</option>
                            <option value="software">Software</option>
                        </select>
                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.type.errors.required">
                                El campo descripción es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="resource.type == 'link'" class="form-group row">
                    <label for="url" class="col-3 col-form-label">
                        <strong>Enlace*</strong>
                    </label>

                    <div class="col-9">
                        <input type="text" class="form-control" id="url" autocomplete="off" formControlName="url"
                            [ngClass]="{ 'is-invalid': submitted && f.url.errors}">
                        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                            <div *ngIf="f.url.errors.required">
                                El campo enlace es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="resource.type != 'link'" class="form-group row">
                        <label for="type" class="col-3 col-form-label">
                            <strong>Archivo actual*</strong>
                        </label>
                        <div class="col-9">
                                <a class="btn btn-info" title="Descargar recurso: {{resource.file}}"
                                href="{{this.url + 'get-resource/' + resource.file}}" target="_blank">
                                <i class="fas fa-download"></i> {{resource.file}}
                            </a>
                        </div>
                    </div>

              


                <div *ngIf="resource.type != 'link'" class="form-group row">
                    <label for="type" class="col-3 col-form-label">
                        <strong>Nuevo archivo*</strong>
                    </label>
                    <div class="col-9">

                        <input formControlName="file" type="file" class="form-control" name="file" id="file"
                            (change)="fileChangeEvent($event)"
                            [ngClass]="{'is-invalid': submitted && f.file.errors || maxSizeError}">
                        <div *ngIf="maxSizeError" class="invalid-feedback">
                            <div *ngIf="maxSizeError">
                                El archivo es demasiado grande, el tamaño maximo permitido es de 20MB.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="source" class="col-3 col-form-label">
                        <strong>Fuente*</strong>
                    </label>

                    <div class="col-9">

                        <textarea class="form-control" id="source" rows="3" formControlName="source"
                            [ngClass]="{ 'is-invalid': submitted && f.source.errors}">
                                        </textarea>


                        <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
                            <div *ngIf="f.source.errors.required">
                                El campo fuente es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /modal-body -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="restartValues()">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
            <!-- /modal-footer -->

        </form>


    </div>
</div>
<!-- /Resources suggest modal-->