<!-- details -->
<div class="card-body">

    <div class="row">
        <div class="col">
            <div class="card mb-3 text-center">
                <div *ngIf="lesson.state" class="card-header bg-{{lesson_states[lesson.state].class}}">
                    <h4 class="mb-0 text-white">
                        {{lesson.title}}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="lesson.resume != undefined" class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Resumen
                    </h5>
                    <p *ngFor="let text of lesson.resume.split('\n')" class="card-text">
                        {{text}}
                    </p>

                    <section *ngIf="lesson.justification" class="mb-3">
                        <h5 class="card-title">
                            Justificación
                        </h5>
                        <p *ngFor="let text of lesson.justification.split('\n')" class="card-text">
                            {{text}}
                        </p>
                    </section>

                    <h5 class="card-title">
                        Referencias
                    </h5>
                    <p *ngFor="let text of lesson.references.split('\n')" class="card-text">
                        <span innerHTML="{{text | linkify}}"></span>
                    </p>


                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <div class="card-text text-{{lesson_states[lesson.state].class}}">
                        <h5 class="btn btn-outline-{{lesson_states[lesson.state].class}} btn-block m-0">
                            {{lesson_states[lesson.state].label}}</h5>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="card-title">
                        <strong>Áreas de conocimiento</strong>
                    </h6>
                    <div class="card-text">
                        <p><label *ngFor="let area of lesson.knowledge_area"
                                class="badge badge-{{lesson_states[lesson.state].class}} mr-1">{{area.name}}</label></p>
                    </div>

                    <h6 class="card-title">
                        <strong>Nivel académico</strong>
                    </h6>
                    <div class="card-text">
                        {{academic_level[lesson.level]}}
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <strong>Propuesto por</strong>
                    </div>
                    <div class="card-text">
                        <div class="row p-1">
                            <div class="col-auto pr-0">
                                <a class="text-primary">
                                    <button [routerLink]="['/perfil', lesson.author._id]"
                                        class="btn flex-shrink-0 rounded-circle  overflow-hidden p-0"
                                        style="width: 40px; height:40px;">
                                        <img *ngIf="!lesson.author.picture" class="img-fluid"
                                            src="assets/images/user-default.png">
                                        <img *ngIf="lesson.author.picture" class="img-fluid"
                                            src="{{this.url+'get-image-user/'+ lesson.author.picture}}">

                                    </button>
                                </a>
                            </div>

                            <div class="col rounded px-2">
                                <h6 class="mb-1">
                                    <a [routerLink]="['/perfil', lesson.author._id]" class="text-primary">
                                        <strong>
                                            {{lesson.author.name}} {{lesson.author.surname}}
                                        </strong>
                                        <br>
                                        <small
                                            class=" text-muted">{{ (lesson.created_at | amFromUnix) | amLocale:'es' | amDateFormat:'LLL' }}</small>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
<!-- /details -->