<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder">{{title}}</h3>
    </div>
    <div class="card-body">

        <div *ngIf="status === 'success'" class="alert alert-success alert-dismissible fade show text-center"
            role="alert">
            <i class="fas fa-check-circle icon-message mr-2"></i>
            Los datos se han actualizado correctamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div *ngIf="status === 'error'" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fas fa-times-circle icon-message mr-2"></i>
            Los datos no pudieron ser actualizados. Intentalo de nuevo.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group row align-items-end">
                <label for="profileImage" class="col-3 col-form-label">
                    <strong>Foto de perfil</strong>
                </label>
                <div class="col">
                    <input type="file" class="form-control" name="image" id="profileImage"
                        formControlName="profileImage" enctype="multipart/form-data" (change)="fileChangeEvent($event); onChanges()" >
                </div>
            </div>

            <div *ngFor="let field of fieldsForm" class="form-group row">
                <label for="{{field.id}}" class="col-3 col-form-label">
                    <strong>{{field.label}}</strong>
                </label>
                <div class="col-9">
                    <input *ngIf="field.type === 'text'" type="text" class="form-control" id="{{field.id}}"
                        formControlName="{{field.id}}" (change)="onChanges()">

                    <textarea *ngIf="field.type === 'textarea'" class="form-control" id="experience" rows="3"
                        formControlName="{{field.id}}" placeholder="{{field.placeholder}}" (change)="onChanges()">
                    </textarea>

                    <ng-select *ngIf="field.type == 'select' && field.autocomplete && field.id != 'city'" [items]="items[field.id]" bindLabel="name" [addTag]="true" addTagText="Agregar {{field.label}}" formControlName="{{field.id}}" placeholder="{{field.label}}" (change)="onChanges()">                        
                    </ng-select>

                    <ng-select *ngIf="field.type == 'select' && field.autocomplete && field.id == 'city'" [items]="items[field.id]"
                        bindLabel="name" [addTag]="true" addTagText="Agregar {{field.label}}"
                        formControlName="{{field.id}}" placeholder="{{field.label}}"
                        (change)="addCityData($event, field.id); onChanges()">
                        <ng-template ng-option-tmp let-item="item">
                            {{item.name}}, {{item.state}}, {{item.country}}
                        </ng-template>
                    </ng-select>

                    <input *ngIf="field.id == 'city' && addCity" type="text" class="form-control" id="state"
                        [formControl]="state" placeholder="Departamento/Estado/Provincia" autocomplete="off">

                    <input *ngIf="field.id == 'city' && addCity" type="text" class="form-control" id="country"
                        [formControl]="country" placeholder="Pais" autocomplete="off" >

                </div>
            </div>

            <div class="form-group row mb-5">
                <div class="col-3 offset-9 text-right">
                    <button type="submit" class="btn btn-warning">
                        Guardar cambios
                    </button>
                </div>
            </div>

        </form>
        <div style="height: 115px;"></div>
    </div>
</div>