<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder">{{title}}</h3>
    </div>
    <div class="card-body">

        <div *ngIf="status === 'success'" class="alert alert-success alert-dismissible fade show text-center"
            role="alert">
            <i class="fas fa-check-circle icon-message mr-2"></i>
            Los datos se han actualizado correctamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div *ngIf="status === 'error'" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <i class="fas fa-times-circle icon-message mr-2"></i>
            Los datos no pudieron ser actualizados. Intentalo de nuevo.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group row align-items-end">
                <label for="profileImage" class="col-3 col-form-label">
                    <strong>Foto de perfil</strong>
                </label>
                <div class="col">
                    <input type="file" class="form-control" name="image" id="profileImage"
                        formControlName="profileImage" (change)="fileChangeEvent($event)">
                </div>
                <!-- <div class="col-auto">
                    <div class="picture rounded-circle border-4 overflow-hidden" *ngIf="identity.picture && identity.picture != null">
                        <img class="img-fluid" src="{{this.url+'get-image-user/'+identity.picture}}">                    
                    </div>
                </div> -->
            </div>

            <div *ngFor="let field of fieldsForm" class="form-group row">
                <label for="{{field.id}}" class="col-3 col-form-label">
                    <strong>{{field.label}}</strong>
                </label>
                <div class="col-9">
                    <input *ngIf="field.type === 'text'" type="text" class="form-control" id="{{field.id}}"
                        formControlName="{{field.id}}">

                    <textarea *ngIf="field.type === 'textarea'" class="form-control" id="experience" rows="3"
                        formControlName="{{field.id}}">
                    </textarea>

                    <ng-select *ngIf="field.type == 'select' && field.autocomplete" [items]="items[field.id]"
                        bindLabel="name" [addTag]="true" addTagText="Agregar {{field.label}}"
                        formControlName="{{field.id}}" placeholder="{{field.label}}">
                        <ng-template *ngIf="field.id == 'city'" ng-option-tmp let-item="item">
                            {{item.name}}, {{item.state}}, {{item.country}}
                        </ng-template>
                    </ng-select>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-3 offset-9 text-right">
                    <button type="submit" class="btn btn-warning">
                        Guardar cambios
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>