<!-- home -->
<div class="container-fluid">
<div class="row">
        <div id="lateral" class="col-3 bg-light">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
        <!-- <div id="content"class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                
                    <div class="jumbotron">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                          </div>
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet velit expedita alias dolorum recusandae quaerat minima consectetur numquam? Quibusdam deserunt, accusantium at saepe quod quaerat. Explicabo doloremque optio eius officiis.
            Cum non laboriosam aperiam nemo, omnis, eaque magnam aliquid natus quos ad, fuga distinctio pariatur assumenda explicabo atque ipsam quae sequi quia dolor dolorem consectetur amet. Ea iure a architecto!
            Quaerat, porro est nobis reiciendis facere totam perferendis, molestias dignissimos culpa dolor repellendus illum incidunt debitis explicabo magnam reprehenderit saepe optio nesciunt fuga suscipit. Saepe laborum delectus distinctio ea itaque.
            Consequatur dolores facilis aliquam perferendis nobis ea quibusdam ut odit nihil ipsa possimus, quos tenetur in magnam fugit maiores commodi quidem quas earum praesentium. Commodi accusantium harum deleniti magnam consectetur.
            Excepturi neque at sequi minima, quidem alias voluptate! Odio debitis facilis ut repellendus ad quo rem fugiat incidunt ea sed repudiandae expedita alias explicabo, itaque totam laborum, tenetur nam aspernatur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, magnam? Nam voluptas dignissimos commodi aspernatur magni dolor, ut quidem eaque maxime saepe et culpa omnis. Quasi porro dolorem quam doloremque.
        Deserunt, repudiandae quas tempora asperiores dolorem ex distinctio! Accusantium suscipit, nam est consequuntur iste deleniti iusto nobis culpa officia id ipsa nostrum omnis ab dicta? Dignissimos optio reiciendis corrupti rerum!
        Accusantium corrupti itaque quas similique maxime, consectetur odit quod hic inventore reprehenderit cumque illo beatae rem, vero nam quae temporibus animi fuga excepturi eveniet cupiditate. Sunt rem veritatis nihil animi?
        Fuga, sit. Et vel expedita excepturi, rerum exercitationem tempora ut aspernatur perspiciatis consequatur iusto recusandae iste error quidem aut nam dolorem repellendus dignissimos facilis numquam! Ullam minus id sapiente architecto.
        Eos nisi id quaerat voluptates, perspiciatis explicabo? Suscipit fugiat corporis libero distinctio non saepe culpa qui natus nam laudantium tempore nesciunt animi corrupti, cupiditate illo rem facere eum exercitationem voluptate!
        Possimus laboriosam perspiciatis omnis aperiam, esse unde saepe, ad consequuntur, praesentium architecto quae quo. Voluptatibus repellat, sed modi et consectetur magni sit, dignissimos error excepturi dolorem esse numquam omnis veritatis?
        Et pariatur accusantium vero qui natus ipsam enim laborum similique quisquam quasi vel odio iste expedita, omnis, ex eius voluptate labore nihil quidem hic! Ipsam sit consequatur harum vitae ea!
        Sapiente eligendi explicabo incidunt amet doloribus excepturi, earum ipsam dignissimos, dolore veritatis quos repellat fugiat, nesciunt laudantium iusto libero. Illo, officia cumque rerum nihil amet adipisci inventore quis sit minima?
        Soluta, amet omnis et perferendis nostrum id obcaecati magnam repellendus dolorum quo dolores ratione aperiam delectus laboriosam maiores quam earum exercitationem quidem molestiae eaque hic praesentium ipsa distinctio. Iusto, sunt!
        Delectus sed sit eum, quisquam veniam ipsa commodi repudiandae sunt vitae dolor iusto pariatur cupiditate quaerat accusantium consequuntur unde ipsam odio sint repellat! Ullam, nemo tempora iure praesentium sapiente odio?</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          </div>
        </div> -->
      </div>
    </div>
<!-- /home  -->
