#header img{
    width: 60px;
}   

#header-home img {
    width: 30px;
} 

#searchBar {
    width: 390px;
}

.rounded-circle img {
    object-fit: cover;
    height: 100%;
}

button .dropdown-toggle{
    height: 42px;
}

@media screen and (max-width:320px){
    #header h1{
        font-size: 1.5em;
    }

    #header img{
        width: 40px;
    }   
  
  }