<!-- Lesson/:id -->
<div class="card">
    <div class="card-header p-1">
        <button type="button" class="btn float-left" (click)="onBackButton()">
            <i class="fas fa-arrow-left text-info icon-message"></i>
        </button>      

        <button type="button" class="btn btn-warning float-left ml-2">
            <strong>{{title}} Desarrollo</strong>
        </button>




        <!-- Example split danger button -->
        <div class="btn-group text-primary float-right">


            <button type="button" class="btn" [routerLink]="['grupo']">
                <div class="v1">
                    <i class="fas fa-user-friends text-info icon-message"></i>
                    <span>10</span>
                </div>
            </button>



            <button type="button" class="btn border-left" [routerLink]="['calificar']">
                <div class="vl">
                    <i class="fas fa-star icon-message text-warning"></i>
                    <span>10</span>
                </div>
            </button>


            <button type="button" class="btn btn-sm border-left dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="v1">
                    <i class="fas fa-ellipsis-v icon-message"></i>
                </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['actividad']">Recursos</a>
                <a class="dropdown-item" [routerLink]="['actividad']">Actividad</a>                
                <a class="dropdown-item" [routerLink]="['actividad']">Pruebas</a>
                <a class="dropdown-item" [routerLink]="['actividad']">Pruebas</a>
            </div>
        </div>

        <div class="dropdown float-right mr-2">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Versión 1.0
                </a>
              
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">1.0</a>
                  <a class="dropdown-item" href="#">2.0</a>
                  <a class="dropdown-item" href="#">3.0</a>
                </div>
              </div>

    </div>

    <router-outlet></router-outlet>

</div>
<!-- /Lesson/:id -->