<!-- Calls -->
<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder float-left">{{title}}</h3>
    </div>

    <div *ngIf="lessons.length == 0" class="card-body">
        <h4 class="text-muted">
            No hay convocatorias abiertas para desarrollo de lecciones.
        </h4>
    </div>

    <div *ngIf="lessons.length != 0" class="card-body">

        <!-- checkbox filter -->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary font-weight-bold mb-0">
                                Área de conocimiento
                                <button class="btn btn-link" (click)="setShowAreas()">
                                    <ng-container *ngIf="showAreas; else showOptions">
                                        Ocultar opciones
                                    </ng-container>
                                    <ng-template #showOptions>
                                        Ver opciones
                                    </ng-template>
                                </button>
                            </h6>
                        </div>
                    </div>

                    <div *ngIf="showAreas" class="row">
                        <div *ngFor="let area of areas" class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{area.name}}"
                                    (click)="setArea(area.name)">
                                <label class="custom-control-label" for="{{area.name}}">
                                    {{area.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-primary font-weight-bold mb-0">Nivel académico
                                <button class="btn btn-link" (click)="setShowLevels()">
                                    <ng-container *ngIf="showLevels; else showOptions">
                                        Ocultar opciones
                                    </ng-container>
                                    <ng-template #showOptions>
                                        Ver opciones
                                    </ng-template>
                                </button>
                            </h6>
                        </div>
                    </div>
                    <div *ngIf="showLevels" class="row">
                        <div *ngFor="let level of levels" class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{level.value}}"
                                    (click)="setLevel(level.value)">
                                <label class="custom-control-label" for="{{level.value}}">
                                    {{level.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /checkbox filter -->


        <!-- call items -->
        <div *ngIf="selectedAreas.length == 0 && selectedLevels.length == 0">
            <div *ngFor="let lesson of lessons, let i=index">
                <div class="card">
                    <div class="card-body">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-center p-2 py-3 rounded-lg border border-ligth text-center bg-warning"
                                                style="width: 80px; height: 80px; overflow: hidden;">
                                                <i class="text-white fas fa-bullhorn" style="font-size:50px"></i>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <button class="btn btn-block btn-sm" disabled title="Versión">
                                                <span>V. {{lesson.version.toFixed(1)}}</span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-11">
                                            <p *ngFor="let text of lesson.call.text.split('\n')" class="text-break">
                                                {{text}}
                                            </p>

                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>Nivel académico:</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p>
                                                        <span
                                                            *ngIf="academic_level.hasOwnProperty(lesson.level); else notAssigned">
                                                            {{academic_level[lesson.level]}}
                                                        </span>
                                                        <ng-template #notAssigned>
                                                            <small class="text-muted">No se ha asignado</small>
                                                        </ng-template>
                                                    </p>
                                                </div>

                                            </div>


                                        </div>


                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col">
                                                    <strong>Áreas de conocimiento:</strong>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">

                                                    <div *ngIf="lesson.knowledge_area.length > 0; else notAssigned">
                                                        <small *ngFor="let area of lesson.knowledge_area"
                                                            class="badge badge-info mr-1">{{area.name}}</small>
                                                    </div>
                                                    <ng-template #notAssigned>
                                                        <small class="text-muted">No se ha asignado</small>
                                                    </ng-template>

                                                </div>

                                            </div>


                                        </div>


                                    </div>
                                </div>

                                <!-- buttons -->
                                <div class="col-auto">

                                    <div class="row">
                                        <div class="col">

                                            <button class="btn btn-info mr-2" title="Ver detalles" data-toggle="modal"
                                                data-target="#details" (click)="setCallLesson(lesson)">
                                                <i class="fas fa-eye"></i>
                                            </button>

                                            <ng-container *ngIf="!hasJoined(lesson); else leaveGroup">
                                                <button class="btn btn-success mr-2" title="Unirse"
                                                    (click)="editLesson(lesson, 'add')">
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            </ng-container>
                                            <ng-template #leaveGroup>
                                                <button class="btn btn-danger mr-2" title="Retirarse"
                                                    (click)="editLesson(lesson, 'remove')">
                                                    <i class="fas fa-user-minus"></i>
                                                </button>
                                            </ng-template>




                                        </div>
                                    </div>
                                </div>
                                <!-- /buttons -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /call items -->

        <!-- call items filtered -->
        <div *ngIf="selectedAreas.length > 0 || selectedLevels.length > 0">
            <ng-container *ngIf="allLessons.length == 0; else elseTemplate">
                <div class="card-body">
                    <h4 class="text-muted">
                        No se encontraron convocatorias para los criterios de búsqueda seleccionados.
                    </h4>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div *ngFor="let lesson of allLessons, let i=index">
                    <div class="card">
                        <div class="card-body">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-center p-2 py-3 rounded-lg border border-ligth text-center bg-warning"
                                                    style="width: 80px; height: 80px; overflow: hidden;">
                                                    <i class="text-white fas fa-bullhorn" style="font-size:50px"></i>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-12">
                                                <button class="btn btn-block btn-sm" disabled title="Versión">
                                                    <span>V. {{lesson.version.toFixed(1)}}</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-11">
                                                <p *ngFor="let text of lesson.call.text.split('\n')" class="text-break">
                                                    {{text}}
                                                </p>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col">
                                                        <strong>Nivel académico:</strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <p>
                                                            <span
                                                                *ngIf="academic_level.hasOwnProperty(lesson.level); else notAssigned">
                                                                {{academic_level[lesson.level]}}
                                                            </span>
                                                            <ng-template #notAssigned>
                                                                <small class="text-muted">No se ha asignado</small>
                                                            </ng-template>
                                                        </p>
                                                    </div>

                                                </div>


                                            </div>


                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col">
                                                        <strong>Áreas de conocimiento:</strong>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">

                                                        <div *ngIf="lesson.knowledge_area.length > 0; else notAssigned">
                                                            <small *ngFor="let area of lesson.knowledge_area"
                                                                class="badge badge-info mr-1">{{area.name}}</small>
                                                        </div>
                                                        <ng-template #notAssigned>
                                                            <small class="text-muted">No se ha asignado</small>
                                                        </ng-template>

                                                    </div>

                                                </div>


                                            </div>


                                        </div>
                                    </div>

                                    <!-- buttons -->
                                    <div class="col-auto">

                                        <div class="row">
                                            <div class="col">

                                                <button class="btn btn-info mr-2" title="Ver detalles"
                                                    data-toggle="modal" data-target="#details"
                                                    (click)="setCallLesson(lesson)">
                                                    <i class="fas fa-eye"></i>
                                                </button>

                                                <ng-container *ngIf="!hasJoined(lesson); else leaveGroup">
                                                    <button class="btn btn-success mr-2" title="Unirse"
                                                        (click)="editLesson(lesson, 'add')">
                                                        <i class="fas fa-user-plus"></i>
                                                    </button>
                                                </ng-container>
                                                <ng-template #leaveGroup>
                                                    <button class="btn btn-danger mr-2" title="Retirarse"
                                                        (click)="editLesson(lesson, 'remove')">
                                                        <i class="fas fa-user-minus"></i>
                                                    </button>
                                                </ng-template>




                                            </div>
                                        </div>
                                    </div>
                                    <!-- /buttons -->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>




        </div>
        <!-- /call items filtered -->
        <!-- Navigation -->
        <nav *ngIf="!filter.value && selectedAreas.length == 0 && selectedLevels.length == 0" class="mt-3"
            aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li *ngIf="page > 1" class="page-item">
                    <a class="page-link bg-primary" [routerLink]="['/inicio/convocatorias', prevPage]">Anterior</a>
                </li>
                <li *ngIf="page < pages && page != pages" class="page-item">
                    <a class="page-link bg-info" [routerLink]="['/inicio/convocatorias', nextPage]">Siguiente</a>
                </li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>

</div>
<!-- /Calls -->

<details-call *ngIf="callLesson" [lesson]="callLesson" [isJoin]="isJoin" (isJoined)="setNeedReload($event)">
</details-call>