<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder">
            {{title}}
            <!-- <i class="fas fa-user-plus"></i> -->
        </h3>
    </div>

    <div *ngIf="loading" class="card-body">
        <div class="text-muted text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div *ngIf="users.length == 0 && !loading" class="card-body">
        <h4 class="text-muted">
            Parece que todo el trabajo aquí, ya fue realizado.
            <i class="fas fa-laugh icon-message"></i>
        </h4>
    </div>
    <div *ngIf="users.length > 0" class="card-body">

        <div class="accordion" id="usersAccordion">
            <div *ngFor="let user of users; let ix = index" class="card">
                <div class="card-body" id="headingOne">
                    <div class="row align-items-center">
                        <div class="col-1">
                            <div class="picture rounded-circle border-4 overflow-hidden">
                                <img *ngIf="!user.picture" class="img-fluid" src="assets/images/user-default.png">
                                <img *ngIf="user.picture" class="img-fluid"
                                    src="{{this.url+'get-image-user/'+ user.picture}}">
                            </div>
                        </div>

                        <div class="col-6">
                            <h5>{{user.name}} {{user.surname}}</h5>

                            <span class="badge {{categories[user.role].class}}">{{categories[user.role].label}}</span>
                        </div>

                        <div class="col-5 text-center">
                            <button *ngIf="openItem == user._id" class="btn btn-warning btn-sm m-1" type="button"
                                data-toggle="collapse" attr.data-target="#item{{ix}}" attr.aria-controls="item{{ix}}"
                                (click)="removeToOpenItem()">
                                <i class="fas fa-eye-slash"></i>
                                Ocultar
                            </button>
                            <button *ngIf="openItem != user._id" class="btn btn-info btn-sm m-1" type="button"
                                data-toggle="collapse" attr.data-target="#item{{ix}}" attr.aria-controls="item{{ix}}"
                                (click)="addToOpenItem(user._id)">
                                <i class="fas fa-eye"></i>
                                Detalles
                            </button>
                            <button type="button" class="btn btn-success btn-sm m-1" (click)="activeUser(user)">
                                <i class="fas fa-user-check"></i>
                                <span class="ml-2">Activar</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm m-1" (click)="removeUser(user._id)">
                                <i class="fas fa-user-times"></i>
                                <span class="ml-2">Eliminar</span>
                            </button>
                        </div>
                    </div>

                </div>

                <div id="item{{ix}}" class="collapse" aria-labelledby="headingOne" data-parent="#usersAccordion">
                    <div class="card-footer">
                        <div *ngFor="let field of fields" class="row">

                            <label *ngIf="user[field.attr]" for="{{field.id}}" class="col-2">
                                <strong> {{field.label}}:</strong>

                            </label>
                            <div class="col-10">
                                <p *ngIf="user[field.attr] && field.type == 'text'" id="{{field.id}}">
                                    {{user[field.attr]}}
                                </p>
                                <p *ngIf="user[field.attr] && field.type == 'select' && field.autocomplete && field.id != 'city'"
                                    id="{{field.id}}">
                                    {{user[field.attr].name}}
                                </p>
                                <p *ngIf="user[field.attr] && field.type == 'textarea'" id="{{field.id}}">
                                    {{user[field.attr]}}
                                </p>
                                <p *ngIf="user[field.attr] && field.type == 'select' && field.autocomplete && field.id == 'city'"
                                    id="{{field.id}}">
                                    {{user[field.attr].name}}, {{user[field.attr].state}}, {{user[field.attr].country}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="mt-3" aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li *ngIf="page > 1" class="page-item">
                    <a class="page-link bg-primary" [routerLink]="['/admin/usuarios-nuevos', prevPage]">Anterior</a>
                </li>
                <li *ngIf="page < pages && page != pages" class="page-item">
                    <a class="page-link bg-info" [routerLink]="['/admin/usuarios-nuevos', nextPage]">Siguiente</a>
                </li>
            </ul>
        </nav>

    </div>
</div>