<!-- Profile -->
<section id="profile" class="bg-white">
    <div class="container px-0 py-3 py-sm-4 bg-light">
        <div class="row">
            <div class="col-12">
                <div class="card-group">
                    <div class="card">
                        <div class="row">
                            <div class="col-3">

                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam nihil adipisci maxime
                                nobis sed, facilis, accusamus molestiae, commodi consequuntur alias quis eveniet
                                pariatur deleniti aliquid rem magni dolorum vel recusandae?
                            </div>
                            <div class="col-6">
                                <h2 class="card-title">Juan Daniel Hernández Bustos</h2>
                            </div>
                            <div class="col-3">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit optio debitis sapiente
                                quo aut. Quis ea totam sed repellat inventore neque numquam id eligendi facere.
                                Quisquam, maiores. Optio, neque tempore!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam nihil adipisci maxime nobis
                        sed, facilis, accusamus molestiae, commodi consequuntur alias quis eveniet pariatur deleniti
                        aliquid rem magni dolorum vel recusandae?
                    </div>
                    <div class="col">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit optio debitis sapiente quo aut. Quis ea totam sed repellat nventore neque numquam id eligendi facere. Quisquam, maiores.
                        Optio, neque tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nesciunt minus sit, maiores voluptatibus doloremque temporibus ullam fugiat alias repudiandae excepturi nisi quae, tempore, ex ad placeat quas amet? Ut?
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- /Profile -->