

.rounded-circle {
    width: 10rem; 
    height: 10rem; 
    background-color: whitesmoke; 
    border: 4px solid white;       

}

#profileMenu {    
    position: sticky;    
    top: 62px;
    width: 253px;
    
}
