<!-- Profile -->
<section id="profile ">

    <!-- <div class="container-fluid my-3 rounded overflow-hidden">

        <div class="row justify-content-center">

            <div class="col-auto card text-center">
                <div class="card-body">


                    <div class="row justify-content-center">
                        <div class="picture rounded-circle border-4">

                        </div>
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-info">Editar perfil</button>
                    </div>

                </div>
            </div>

            <div class="col bg-danger">

                <div class="row">

                    <div class="col-8 pt-4">
                        <h2>Juan Daniel Hernández Bustos</h2>
                        <p class="card-text">
                            Ingeniero de sistemas <br>
                            Universidad industrial de Santander <br>
                            Bucaramanga, Santander; Colombia
                        </p>
                    </div>

                    <div class="col-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsum, velit architecto,
                        fugit qui cum dolor harum iste nostrum in voluptates tempore, at ab sit? A impedit aspernatur
                        vel perspiciatis.
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, quisquam, iure veritatis,
                        incidunt autem et magni doloribus corporis doloremque voluptatum beatae repellendus? Dolores
                        ducimus quasi sed error quis reiciendis praesentium!
                    </div>

                </div>
            </div>
        </div>
    </div> -->

    <div class="container-fluid my-3 rounded overflow-hidden" style="min-height: 250px; background-color:gray">

        <div class="row" style="background-color:darkgrey">

            <div class="col">

                <div class="row">

                    <div class="card border-0 text-center">
                        <div class="card-body " style="position: absolute; z-index: 5;">
                            <div class="row px-3">
                                <div class="picture rounded-circle border-4">
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-danger">Editar perfil</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="px-3" style="width:10rem; height: 10rem;"></div>
                    </div>

                    <div class="col pt-4">
                        <h2>Juan Daniel Hernández Bustos</h2>
                        <p class="card-text">
                            Ingeniero de sistemas <br>
                            Universidad industrial de Santander <br>
                            Bucaramanga, Santander; Colombia
                        </p>
                    </div>

                    <div class="col-3 card border-0 bg-transparent p-4">
                        <div class="row my-auto px-4">
                            <div class="col-6 p-1">
                                <div class="text-center bg-white rounded-lg">

                                    <div class="px-1 py-3">
                                        <h4 class="mb-0">10</h4>
                                        <small>Seguidos</small>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-6 p-1">
                                <div class="text-center bg-white rounded-lg">

                                    <div class="px-1 py-3">
                                        <h4 class="mb-0">10</h4>
                                        <small>Seguidores</small>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <div class="px-3" style="width:10rem"></div>
            </div>
            <div class="col py-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, quisquam, iure veritatis,
                incidunt autem et magni doloribus corporis doloremque voluptatum beatae repellendus? Dolores
                ducimus quasi sed error quis reiciendis praesentium!
            </div>
        </div>

    </div>

    <div class="container-fluid my-3 rounded overflow-hidden">
        <div class="row">

            <div class="col-3 pl-0">
                <div id="profileMenu">
                    <div class="card rounded bg-light border-0">
                        <button *ngFor="let option of menuOptions, let ix = index" type="button"
                            class="{{'btn btn-block text-left py-2 ' + option.buttonClass}}"
                            [routerLink]="[option.routerLink]">
                            <i class="{{'text-ligth fas ' + option.iconClass}}"></i>
                            <span class="ml-2"> {{option.spanContent}} </span>
                        </button>

                    </div>

                </div>

            </div>


            <div class="col-9 bg-dark">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laborum officia consequuntur facere ad consectetur recusandae quae saepe, ex fugit debitis, vel libero suscipit vitae omnis nulla laudantium vero corrupti!
                Exercitationem, cupiditate? Neque veniam quas aperiam deserunt soluta possimus, sed, cum illum dolore sapiente quod magni ipsum, similique accusamus repudiandae totam eligendi? Ut officiis harum accusantium non necessitatibus doloremque quia?
                Pariatur recusandae tempora quisquam quam ab fugiat praesentium inventore magni quia deleniti, accusamus explicabo illo aliquam numquam dolorem incidunt tenetur neque sunt alias nisi repudiandae hic. Debitis ab earum sit!
                Nulla distinctio, fugiat similique iure praesentium consequuntur veritatis aspernatur deserunt fuga ipsa blanditiis, expedita, accusantium eaque enim tempora eius? Saepe eum quidem autem dolorum amet expedita molestiae officiis necessitatibus blanditiis?
                Optio quae consectetur quaerat, dolores asperiores reprehenderit aperiam, quis ratione id eos laboriosam, rem corrupti accusamus culpa vel natus. Velit expedita consequuntur sunt, tempore maiores earum distinctio reiciendis laudantium animi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda ipsa dignissimos, recusandae, alias molestiae ex numquam aspernatur illo officia saepe in officiis rerum? Repellat magni nulla laudantium odio soluta.
                Commodi repudiandae laboriosam sapiente omnis deleniti asperiores, dolores tempora sed! Officia dolore quae aliquid, qui quis quo? Sapiente vel eveniet perferendis? Sit nisi nam explicabo vitae iste dolorum suscipit facere.
                Repudiandae alias voluptatibus dolorem cupiditate tenetur et distinctio, hic quidem soluta obcaecati minus. Cum harum eius maiores nemo, dolor aperiam culpa numquam, dignissimos ut libero, id rem ex nisi autem?
                Aperiam, aspernatur dolorum laboriosam ipsam dolore commodi eveniet accusamus! Voluptates nemo, eius quae a nulla, tempore quam eligendi odio pariatur animi repudiandae neque enim sapiente? Perferendis sit quas ullam est.
                Esse, dolorum! Beatae, natus numquam! Repudiandae illum incidunt numquam provident minima dolore doloremque adipisci! Rerum, molestiae? Magnam adipisci earum mollitia repudiandae inventore sapiente, voluptates maxime, ullam nam consequatur enim dolor.
                Cumque iste omnis inventore, quia ad dolorum non. Enim fuga sunt ut, possimus ex magnam exercitationem perferendis placeat unde et vero laborum dicta assumenda atque eos, dolor non quasi. Totam!
                Ut quae provident id expedita ratione, consectetur illo, nulla harum doloremque quod voluptatibus. Rem necessitatibus ipsam molestiae in, aliquid, voluptates et id quos velit sequi iste eligendi, ad nemo nulla.
                Facilis magnam dolorem ad praesentium libero odit iure ab harum eveniet pariatur, illo, quasi eius voluptates reiciendis, ut rem neque facere qui optio suscipit voluptate sint. Quos hic recusandae excepturi!
                Suscipit libero nostrum impedit iusto distinctio debitis! Reprehenderit tenetur ab accusamus libero explicabo ad saepe iure quas repudiandae blanditiis ut minima fugit nihil quaerat velit ducimus, delectus dolore expedita voluptatem.
                Alias error officiis dignissimos non sunt dicta accusamus incidunt voluptatum temporibus mollitia tenetur odit maxime nesciunt, ullam iste illo nemo unde consectetur? Ducimus laboriosam sint aspernatur, consequuntur non eligendi veniam!
            </div>
        </div>
    </div>



</section>





<!-- /Profile -->