<!-- send experiences -->
<div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="send" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <form [formGroup]="sendForm" (ngSubmit)="onSubmit()" class="modal-content" enctype="multipart/form-data">
            <!-- modal-header -->
            <div class="modal-header">
                <h5 class="modal-title" id="sendTitle">Enviar experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="restartValues()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /modal-header -->

            <!-- modal-body -->
            <div class="modal-body">
                <div class="mb-2">
                    <p>
                        En este espacio puedes compartir con la red los materiales de clase que hayas desarrollado. El administrador se encargará de enviar una convocatoria pública para formar el grupo de
                        desarrollo de la lección de las experiencias de tipo <i>desarrollo</i> o creará un espacio en el que 
                        puedes cargar los recursos y materiales de la lección para las tipo <i>consideración</i>.</p>

                </div>

                <div *ngIf="status === 'error'; successMessage" class="alert alert-danger fade show text-center"
                    role="alert">
                    <i class="fas fa-times-circle icon-message mr-2"></i>
                    {{errorMsg}}
                </div>

                <div *ngIf="status === 'success'; successMessage" class="alert alert-success fade show text-center"
                    role="alert">
                    <i class="fas fa-check-circle icon-message mr-2"></i>
                    {{successMsg}}
                </div>

                <div *ngFor="let field of fields" class="form-group row">
                    <label for="{{field.id}}" class="col-3 col-form-label">
                        <strong>{{field.label}}<span *ngIf="field.required">*</span></strong>
                    </label>

                    <div class="col-9">
                        <input *ngIf="field.type == 'text'" type="text" class="form-control" id="{{field.id}}"
                            autocomplete="off" formControlName="{{field.id}}"
                            [ngClass]="{ 'is-invalid': submitted && f[field.id].errors}">

                        <textarea *ngIf="field.type === 'textarea'" class="form-control" id="experience" rows="3"
                            formControlName="{{field.id}}" [ngClass]="{ 'is-invalid': submitted && f[field.id].errors}">
                                </textarea>

                        <select *ngIf="field.type == 'select' && !field.autocomplete" formControlName="{{field.id}}"
                            class="form-control" id="{{field.id}}"
                            [ngClass]="{'is-invalid': submitted && f[field.id].errors}">
                            <option *ngFor="let option of field.options" value="{{option.value}}">
                                {{option.label}}
                            </option>
                        </select>
                        <small *ngIf="field.id == 'level'" id="{{field.id}}Help" class="form-text text-muted">
                            Selecciona el nivel de madurez en el desarrollo del contenido de tu experiencia.
                        </small>
                        <small *ngIf="field.id == 'type'" id="{{field.id}}Help" class="form-text text-muted">
                            <b>Desarrollo:</b> para las experiencias que deseas que pasen por el
                            proceso de desarrollo de lecciones con la asesoría de un experto en dinámica de sistemas. <br>
                            <b>Consideración:</b> si la lección se encuentra lo suficientemente madura para ser compartida con la red.
                        </small>

                        <ng-select *ngIf="field.type == 'select' && field.autocomplete" [items]="items[field.id]"
                            bindLabel="name" formControlName="{{field.id}}" [multiple]="true" [hideSelected]="true"
                            notFoundText="No se encontro" [ngClass]="{ 'is-invalid': submitted && f.areas.errors }">
                        </ng-select>


                        <div *ngIf="submitted && f[field.id].errors" class="invalid-feedback">
                            <div *ngIf="f[field.id].errors.required">
                                El campo {{field.label}} es obligatorio.
                            </div>
                        </div>
                        <div *ngIf="submitted && f[field.id].errors && field.id == 'areas'"
                            class="invalid-feedback-select mt-1">
                            <div *ngIf="f[field.id].errors.required">
                                El campo {{field.label}} es obligatorio.
                            </div>
                        </div>
                        <div *ngIf="maxSizeError && field.id == 'file'" class="invalid-feedback">
                            <div *ngIf="maxSizeError">
                                El archivo es demasiado grande, el tamaño maximo permitido es de
                                {{MAX_FILE_SIZE}}MB.
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /modal-body -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="restartValues()">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
            <!-- /modal-footer -->

        </form>
    </div>
</div>
<!-- /send experiences -->