<div *ngIf="!identity.actived" class="jumbotron bg-white py-4 mb-2">
    <h2 class="">Bienvenido a
        <strong class="display-4 text-primary font-weight-bolder rd">
            RedDinámica
        </strong>
    </h2>
    <hr class="my-2 text-primary" style="border: 3px solid">
</div>

<div id="new-post" class="card mb-2">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="card-header">
            <label class="card-title m-0" style="font-size: 1.5em" for="">
                <strong>Crear publicación: </strong>
            </label>
        </div>
        <div class="card-body">

            <div class="form-group row mb-0 justify-content-center">
                <div class="col-2 align-items-center">
                    <a class="nav-link d-flex">
                        <div class=" flex-shrink-0 rounded-circle border-1 overflow-hidden mr-2"
                            style="width: 55px; height:55px;">
                            <img *ngIf="!identity.picture" class="img-fluid"
                                src="assets/images/user-default.png">
                            <img *ngIf="identity.picture" class="img-fluid"
                                src="{{this.url+'get-image-user/'+ identity.picture}}">
                        </div>
                    </a>
                </div>
                <div class="col-10 pl-0">
                    <textarea class="bg-light" formControlName="textPost" class="form-control" rows="3"
                        (change)="onChanges()" [ngClass]="{ 'is-invalid': submitted && f.textPost.errors}"></textarea>
                    <div *ngIf="submitted && f.textPost.errors" class="invalid-feedback">
                        <div *ngIf="f.textPost.errors.required">
                            Es necesario escribir algo para poder crear la publicación.
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-right py-1 px-0 bg-transparent">
                <div class="form-group row mb-0 d-flex align-items-center">
                    <div class="col-9">
                        <div *ngIf="status === 'error'; successMessage"
                            class="alert alert-danger fade show text-center m-0" role="alert">
                            <i class="fas fa-times-circle icon-message mr-2"></i>
                            Hubo un error creando la publicación. Intentalo de nuevo.

                        </div>

                        <div *ngIf="status === 'success'; successMessage"
                            class="alert alert-success fade show text-center m-0" role="alert">
                            <i class="fas fa-check-circle icon-message mr-2"></i>
                            La publicación se ha creado correctamente.

                        </div>
                    </div>
                    <div class="col-1 bg-transparent">
                        <label class="m-0" style="font-size: 2.2em">
                            <i class="fas fa-image text-success" style="cursor:pointer"></i>
                            <input formControlName="filePost" style="display:none" type="file" class="form-control"
                                name="image" (change)="fileChangeEvent($event)">
                        </label>

                    </div>
                    <div class="col bg-transparent">
                        <button type="submit" class="btn btn-success btn-block">Publicar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<section *ngFor="let publication of publications">
    <div id="new-post" class="card mb-2">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-1 align-items-center">
                    <div class="picture rounded-circle border-4 overflow-hidden" style="width: 55px; height: 55px">
                        <a class="text-primary " [routerLink]="[ '/perfil', publication.user._id ]">
                            <img *ngIf="!publication.user.picture" class="img-fluid"
                                src="assets/images/user-default.png">
                            <img *ngIf="publication.user.picture" class="img-fluid"
                                src="{{this.url+'get-image-user/'+ publication.user.picture}}">
                        </a>
                    </div>
                </div>
                <div class="col-11 align-items-center">
                    <h4>
                        <a class="text-primary " [routerLink]="[ '/perfil', publication.user._id ]">
                            <h5 class="m-0 text-primary">{{publication.user.name}} {{publication.user.surname}}</h5>
                        </a>

                    </h4>

                    <p class=" text-muted">
                        <small>{{ (publication.created_at | amFromUnix) | amLocale:'es' | amDateFormat:'LLL' }}</small>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="publication-text">
                        {{publication.text}}
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>

<div *ngIf="publications && publications.length > 0" class="text-center">
    <button *ngIf="!noMore" class="btn btn-primary" (click)="viewMore()">Ver más publicaciones</button>
</div>