<div class="jumbotron bg-white py-4 mb-3" >
    <h2 class="">Bienvenido a 
        <strong class="display-4 text-primary font-weight-bolder rd">
            RedDinámica
        </strong>
    </h2>
    <hr class="my-2">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information. This is a simple hero unit, a simple jumbotron-style component for calling
        extra attention to featured content or information.</p>
    <div class="bd-example text-right">
        <a class="btn btn-primary btn-lg ml-2" [routerLink]="['/perfil']" role="button">
            Perfil
        </a>
        <!-- <a class="btn btn-warning btn-lg ml-2" href="#" role="button">
            Lecciones
        </a>
        <a class="btn btn-info btn-lg ml-2" href="#" role="button">
            Recursos
        </a> -->
    </div>
</div>
<!-- 
<div class="media">
        <img src="assets/images/user-default.png" class="mr-3" alt="..." style="width: 64px;">
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
      </div> -->

<!-- 
<div class="card">
    <div class="card-header py-1">
        <h4 class="mb-0">Últimas noticias publicadas</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer py-1">
        <a href="#" class="card-link text-right">
            <h4 class="mb-0">Todas la noticias...</h4>
        </a>
    </div>


</div>

<div class="card border-light mb-3">
    <div class="card-header py-1">
        <h4 class="mb-0">Últimas lecciones publicadas</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer py-1">
        <a href="#" class="card-link text-right">
            <h4 class="mb-0">Todas la lecciones...</h4>
        </a>
    </div>


</div> -->