<!-- landing  -->
<!-- main -->
<section id="main" class="bg-white">
    <div class="container jumbotron mb-0 bg-white">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a [routerLink]="['/registro']" class="btn btn-success btn-lg" href="#" role="button">Unete</a>
        </p>
    </div>
</section>
<!-- main -->

<!-- section 1 -->
<section id="section-1" class="bg-light">
    <div class="container">
        <div class="row">

            <h2 class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsa temporibus.
                Consequatur, esse vel nam aut cumque dolor eaque molestias harum laudantium nemo illo blanditiis. Soluta
                qui eius velit odio.</h2>



        </div>

    </div>
</section>
<!-- /section 1 -->

<!-- section 2 -->
<section id="section-2" class="bg-info">
        <div class="container">
            <div class="row">
                <div>
                    <h2 class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsa
                        temporibus. Consequatur, esse vel nam aut cumque dolor eaque molestias harum laudantium nemo illo
                        blanditiis. Soluta qui eius velit odio.</h2>
                </div>
    
            </div>
    
        </div>
    </section>
<!-- /section 2 -->

<!-- section 3 -->
<section id="section-3" class="bg-white">
    <div class="container">
        <div class="row">
            <div>
                <h2 class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ipsa
                    temporibus. Consequatur, esse vel nam aut cumque dolor eaque molestias harum laudantium nemo illo
                    blanditiis. Soluta qui eius velit odio.</h2>
            </div>

        </div>

    </div>
</section>
<!-- /section 3 -->
<footer_rd></footer_rd>
<!-- /landing  -->