<div class="container-fluid bg-white">
    <div class="row">
        <div class="bg-light col-2 py-3">

            <button type="button" class="text-left btn btn-light btn-block">
                <h6 class="text-truncate"><strong>Juan Daniel Hernández Bustos</strong></h6>
            </button>
            <button type="button" class="text-left btn btn-light btn-block">Inicio</button>
            <button type="button" class="text-left btn btn-light btn-block">Mensajes</button>
            <button type="button" class="text-left btn btn-light btn-block ">Noticias</button>
            <button type="button" class="text-left btn btn-light btn-block">Lecciones</button>
            <button type="button" class="text-left btn btn-light btn-block">Recursos</button>

        </div>
        <div class="col-10 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>