.rounded-circle {
    background-color: whitesmoke;       
}

.rounded-circle img {
    object-fit: cover;
    height: 100%;
    width: 100%; 
}

.img-profile-card{
    width: 80px;
    height: 80px;
}

.row img{
    max-height: 350px;
     
}



.publication-text {
    font-size: 1em;
}

.icon-message{
    font-size: 1.5em;
}  

.line{
    border: 1px solid #2C3E50;
}

section .container{
    padding: 64px 32px;
}

#lateral {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    background-color: #fafafa;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.rd {
    font-family: 'Comfortaa', cursive;
}

.badge-purple{
    background-color: #6610f2; 
    color: white;
}

.badge-orange {
    background-color: #fd7e14;
    color: white;
}

.badge-green {
    background-color: #07683b;
    color: white;
}

.rounded-circle img {
    background-color:white;    
    object-fit: cover;
}
