<!-- details -->
<div class="card-body">

        <h3 class="card-title">
            Lección numero 1 alorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius deserunt nostrum perferendis quas! Nemo repellendus facilis dolor! Natus at ea fuga et voluptatibus accusamus, quam odio dolorum vero cumque corrupti.
            <button class="btn btn-warning ml-2" [routerLink]="['/inicio/leccion/',1,'editar']">Editar</button>
        </h3>
        <div class="card-text">
            Hola soy el contenido de la tarjeta
        </div>

</div>
<!-- /details -->    